<footer>
    <div id="socialContainer">
        <a href="#">
            <img class="footerImage" src="assets/images/instagram_icon_black.png" alt="Instagram">
        </a>
        <a href="#">
            <img class="footerImage" src="/assets/images/facebook_icon_black.png" alt="Facebook">
        </a>
        <a href="#">
            <img class="footerImage" src="assets/images/twitter_icon_black.png" alt="Twitter">
        </a>
        <a href="#">
            <img class="footerImage" src="assets/images/google_plus_icon_black.png" alt="Google+">
        </a>
    </div>
    <div id="copyrightContainer">
        <p class="copyrightText">Copyright &copy; 2017</p>
        <p class="copyrightText"> QUILLLY, Inc.&reg; The QUILLY Trademark is registered with the United States Patent and Trademark Office, registration
            number 964520763</p>
</footer>