<footer>
    <div id="sb-social">
        <a href="#">
            <img class='footerImage' src="/images/instagram_icon.png" alt="instagram">
        </a>
        <a href="#">
            <img class='footerImage' src="/images/facebook_icon.png" alt="facebook">
        </a>
        <a href="#">
            <img class='footerImage' src="/images/twitter_icon.png" alt="twitter">
        </a>
        <a href="#">
            <img class='footerImage' src="/images/linkedin_icon.png" alt="linkedin">
        </a>
    </div>
    <div id="copyright-container">-->
        <p class="copyright-text">Copyright &copy; 2017</p>
        <p class="copyright-text"> Quilly, Inc.&reg; The Quilly Trademark is registered with the United States Patent and Trademark Office, registration
            number 964520763</p>
        <!-- <!--</div> -->
</footer>