<!-- <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice">
    <defs>
        <mask id="mask" x="0" y="0" width="100%" height="100%">
            <rect x="0" y="0" width="100%" height="100%" />
            <text x="15%" y="50%">q</text>
            <text x="29%" y="50%">u</text>
            <text x="43%" y="50%">i</text>
            <text x="57%" y="50%">l</text>
            <text x="71%" y="50%">l</text>
            <text x="85%" y="50%">y</text>

        </mask>
    </defs>c
    <rect x="0" y="0" width="100%" height="100%" />
</svg> -->

<!-- <div class="header-wrapper" id="personalLibrary" class="mainPageBtn">
    <div class="title-wrapper">
        <div class="clip-text clip-text_alchemy">LIBRARY</div>
    </div>
</div> -->