<% include partials/head %>

    <body>

        <% include partials/header %>
            <main>
                <%- body %>
            </main>
            <% include partials/footer %>

    </body>