div#quoteDisplay {
    font-family: "Federo", Helvetica, sans-serif;
    color: rgb(172, 169, 169);
    white-space: nowrap;
    font-size: 2.5vh;
    letter-spacing: 0.5vw;
    animation: marquee 35s linear infinite;
    z-index: 10;
    overflow: hidden;
    position: absolute;
    bottom: 5%;
    right: 0;
    text-shadow: 0.1vw 0.1vw rgb(31, 31, 31);
}

@keyframes marquee {
    from {
        left: 140%;
    }
    to {
        left: -100%;
    }
}