div#persQuillyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80vh;
    width: 70vw;
    top: 10%;
    left: 15%;
    background-color: rgba(240, 236, 236, 0.836);
    border: 0.03vw solid rgba(247, 247, 247, 0.664);
    position: fixed;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, .6);
    z-index: 100;
}

form#persQuillyForm {
    height: 100%;
    width: 100%;
    position: relative;
    font-family: "Federo", Helvetica, sans-serif;
}

#persQuillyHeading {
    text-align: center;
    margin-top: 2.5vh;
    margin: 3vh;
    color: rgb(22, 22, 22);
    font-size: 2em;
    text-shadow: 0.04vw 0.04vw rgb(236, 236, 236);
    font-weight: bold;
    font-family: "Megrim", Helvetica, sans-serif;
    letter-spacing: 0.6em;
}

.inputField {
    width: 24vw;
    height: 6.1vh;
    line-height: 2em;
    font-size: 1em;
    padding: 0.7vh;
    margin: 1vw;
    outline: 0;
    letter-spacing: 0.4em;
    background-color: rgba(241, 237, 237, 0.795);
    font-style: italic;
    font-family: "Federo", Helvetica, sans-serif;
}

#countryCode {
    font-weight: bold;
    font-size: 1.1em;
}

#quillyMsg {
    width: 60vw;
    height: 20vh;
    padding: 0.7vh;
    margin-bottom: 3vh;
}

#charLeft {
    font-size: 0.9em;
    color: rgb(59, 58, 58);
}

#submitPersQuilly {
    font-family: "Federo", Helvetica, sans-serif;
    text-align: center;
    margin-top: 6vh;
    font-size: 1.3em;
    padding: 2vh 3vw;
    background-color: rgba(0, 0, 0, 0.795);
    color: rgba(204, 200, 200, 0.911);
    letter-spacing: 0.4em;
    border: 0.05vw solid rgba(58, 57, 57, 0.664);
    box-shadow: 0 0.1vw 0.4vw rgba(0, 0, 0, .6);
    cursor: pointer;
    outline: 0;
}

#image-div {
    background: url("../images/#") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 660px;
    right: 0;
    position: fixed;
    z-index: -1;
}

#dynamic-container {
    height: 100%;
    width: 660px;
    right: 0;
    position: fixed;
}

.table-container {
    color: rgba(19, 17, 17, 0.767);
    padding: 0;
    margin-right: 30px;
    margin-top: 40px;
    width: 600px;
    position: fixed;
    top: 0;
    right: 0;
    font-family: 'Cutive Mono', Georgia, monospace;
    color: #f7e2d2;
    border: 0;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background: #c2bcbc;
    color: rgb(39, 41, 56);
    padding: 5px;
    text-align: center;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background: rgb(255, 255, 255);
    color: rgb(39, 41, 56);
    padding: 5px;
    text-align: center;
}

tbody {
    overflow: auto;
    border: 0;
    max-height: 200px;
}

th {
    font-size: 17px;
}

td {
    /* word-break: break-all; */
    white-space: normal;
}

.panel {
    background-color: rgba(30, 36, 63, 0.644);
    border: none;
    font-weight: bold;
    color: #f7e2d2;
}

.panel-heading {
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 22px;
}

.panel-default>.panel-heading {
    background-color: rgba(15, 20, 49, 0.664);
    border: 0;
    color: #f7e2d2;
}

.input-container {
    padding: 0;
    width: 600px;
    bottom: 0;
    right: 0;
    margin: 30px;
    font-family: 'Cutive Mono', Georgia, monospace;
    position: fixed;
}

table {
    padding: 10px;
}

form {
    padding: 10px;
    z-index: 1;
    letter-spacing: 2px;
    cursor: pointer;
}

.form-control {
    background-color: #f7e2d2;
    border: 0;
    font-family: 'Cutive Mono', Georgia, monospace;
    letter-spacing: 1px;
}

.btn-primary {
    color: #f7e2d2;
    background: #cb2d3e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: #9c310a;
    letter-spacing: 1.5px;
}

.btn-primary:hover,
.btn-primary:focus {
    outline: 0;
    background: #a73737;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7a2828, #a73737);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7a2828, #a73737);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: #993c3c;
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
}

.btn-primary:active,
.btn-primary.active {
    outline: 0;
    background: #1D976C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93F9B9, #1D976C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: rgb(22, 141, 97);
}