<section id="column1" class="vidContainer">
    <video id="col-1" preload="auto" onended="rotateVid()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="">
    </video>
</section>

<section id="column2" class="vidContainer">
    <video id="col-2" preload="auto" onended="rotateVid()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="">
    </video>
</section>

<section id="column3" class="vidContainer">
    <video id="col-3" preload="auto" onended="rotateVid()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="">
    </video>
</section>

<section id="column4" class="vidContainer">
    <video id="col-4" preload="auto" onended="rotateVid()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="">
    </video>
</section>

<section id="column5" class="vidContainer">
    <video id="col-5" preload="auto" onended="rotateVid()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="">
    </video>
</section>

<!-- <section id="column6" class="vidContainer">
    <video id="col-6" preload="auto" onended="rotateVid()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="">
    </video>
</section>

<section id="column7" class="vidContainer">
    <video id="col-7" preload="auto" onended="rotateVid()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="">
    </video>
</section>

<section id="column8" class="vidContainer">
    <video id="col-8" preload="auto" onended="rotateVid()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="">
    </video>
</section>

<section id="column9" class="vidContainer">
    <video id="col-9" preload="auto" onended="rotateVid()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="">
    </video>
</section>

<section id="column10" class="vidContainer">
    <video id="col-10" preload="auto" onended="rotateVid()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="">
    </video>
</section> -->

<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice">
    <defs>
        <mask id="mask" x="0" y="0" width="100%" height="100%">
            <rect x="0" y="0" width="100%" height="100%" />
            <text x="20%" y="32%">q</text>
            <text x="32%" y="32%">u</text>
            <text x="44%" y="32%">i</text>
            <text x="56%" y="32%">l</text>
            <text x="68%" y="32%">l</text>
            <text x="80%" y="32%">y</text>

        </mask>
    </defs>c
    <rect x="0" y="0" width="100%" height="100%" />
</svg>

<script type="text/javascript" src="assets/js/index.js"></script>