<!-- <section id="column1" class="vidContainer">
    <video id="col-1" preload="auto" onended="cycleVids()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="#"
        data-index="3">
    </video>
</section>

<section id="column2" class="vidContainer">
    <video id="col-2" preload="auto" onended="cycleVids()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="#"
        data-index="5">
    </video>
</section>

<section id="column3" class="vidContainer">
    <video id="col-3" preload="auto" onended="cycleVids()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="#"
        data-index="1">
    </video>
</section>

<section id="column4" class="vidContainer">
    <video id="col-4" preload="auto" onended="cycleVids()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="#"
        data-index="4">
    </video>
</section>

<section id="column5" class="vidContainer">
    <video id="col-5" preload="auto" onended="cycleVids()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="#"
        data-index="0">
    </video>
</section> -->-->

<!-- <section id="column6" class="vidContainer">
        <video id="col-6" preload="auto" onended="cycleVids()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="#"
            data-index="1">
        </video>
    </section>

    <section id="column7" class="vidContainer">
        <video id="col-7" preload="auto" onended="cycleVids()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="#"
            data-index="4">
        </video>
    </section>

    <section id="column8" class="vidContainer">
        <video id="col-8" preload="auto" onended="cycleVids()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="#"
            data-index="7">
        </video>
    </section>

    <section id="column9" class="vidContainer">
        <video id="col-9" preload="auto" onended="cycleVids()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="#"
            data-index="10">
        </video>
    </section>

    <section id="column10" class="vidContainer">
        <video id="col-10" preload="auto" onended="cycleVids()" autoplay="autoplay" muted="muted" playsinline="playsinline" poster="#"
            data-index="13">
        </video>
    </section> -->

<!-- <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice">
    <defs>
        <mask id="mask" x="0" y="0" width="100%" height="100%">
            <rect x="0" y="0" width="100%" height="100%" />
            <text x="15%" y="50%">q</text>
            <text x="29%" y="50%">u</text>
            <text x="43%" y="50%">i</text>
            <text x="57%" y="50%">l</text>
            <text x="71%" y="50%">l</text>
            <text x="85%" y="50%">y</text>

        </mask>
    </defs>c
    <rect x="0" y="0" width="100%" height="100%" />
</svg> -->

<form class="form-signin" action="/createUser" method="POST">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Name</label>
    <input name="email" type="text" id="regName" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="regPassword" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" id="regSubmit">Sign in</button>
</form>