<div id="mainPage">
    <form action="/personal" method="GET">
        <button id="personalLibrary" class="mainPageBtn" type="submit">Visit Personal Library</button>
    </form>
    <button id="searchQuotes" class="mainPageBtn" type="submit">Search for Quotes</button>
    <button id="quickQuilly" class="mainPageBtn btn-front" type="submit">Send Quick Quilly</button>
    <div id="quickContainer">
        <form id="quickQuillyForm" method="POST">
            <h3 id="quickHeading">Quick Quilly</h3>
            <h4 id="quickSubh">In a hurry? Create a Quick Quilly with your custom message!</h4>
            <label>
                Send Time:
                <input id="qqTime" type="text " class="inputField" tabindex="1" placeholder="11:15AM" required autofocus>
            </label>
            <label>
                <br />Send To:
                <span id="countryCode">+1
                    <input id="qqPhone" type="tel" class="inputField" tabindex="2" placeholder="555-555-5555" required>
                </span>
            </label>
            <p>
                <label>
                    Message:
                    <br />
                    <textarea id="quillyMsg" class="inputField" tabindex="3" maxlength="180" placeholder="You aced that presentation! Grab yourself a cold one ;)"
                        required></textarea>
                    <h5 id="charLeft">
                        <span id="charCount">180 </span>Characters Remaining</h5>
                </label>
            </p>
            <label>
                <button type="submit" id="submitQuickQuilly" class="send" data-submit="Quilly Scheduled">Submit Quilly</button>
            </label>
        </form>
    </div>
</div>


<!-- <div id="quoteDisplay"></div> -->


<script type="text/javascript" src="assets/js/main.js"></script>