<div id="personalPage">
    <div id="persQuillyContainer">
        <table id="personalLibraryTable">
            <caption>My Personal Library</caption>
            <thead>
                <tr id="tableHeadings">
                    <th scope="col">Select</th>
                    <th scope="col">Never Forget..</th>
                    <th scope="col">Date Added</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody class="tableTest"></tbody>
        </table>

        <form id="addPersonalForm">
            <p id="neverForgetTextarea">
                <label for="" id="addLabel">Add New "Never Forget"</label>
                <textarea type="text" id="newInput" placeholder="'Either write something worth reading or do something worth writing' -Benjamin Franklin"
                    required autofocus></textarea>
            </p>
            <p id="neverForgetBtn">
                <label>
                    <button type="submit" id="addNeverForget">Add to Library</button>
                </label>
        </form>
        <form id="persQuillyForm" method="post">
            <!-- <h3 id="persQuillyHeading" class="fullWidth">Send a Quilly</h3> -->
            <p id="persQuillyTimeCont">
                <label for="">Send Time</label>
                <input id="persQuillyTime" type="time" class="inputField" tabindex="1" placeholder="11:15AM" required autofocus/>
            </p>
            <p id="persQuillyPhoneCont">
                <label for="">Send To</label>
                <input id="persQuillyPhone" type="tel" class="inputField" tabindex="2" placeholder="555-555-5555" required />
            </p>
            <p id="persQuillySubmit">
                <label>
                    <button type="submit" id="submitPersQuilly" class="persQuillyBtn " data-submit="Quilly Scheduled">Schedule Quilly</button>
                </label>
            </p>
        </form>
    </div>
</div>


<script type="text/javascript" src="assets/js/personal.js"></script>